#mpd ~/.mpd/mpd.conf

#setxkbmap -layout us -variant altgr-intl -option 'grp:alt_shift_toggle,ctrl:nocaps,compose:ralt,altwin:swap_alt_win'

# background
feh --bg-max ~/.config/curwall &

xiccd &

#lxqt-notificationd &

xscreensaver &  # started through systemctl already? 
xidlehook --not-when-audio --not-when-fullscreen --timer 300 "xset s activate" "" &
xidlehook --not-when-fullscreen --timer 45 "xscreensaver-command --activate" "" &
xset s 10800 10800

#numlockx on &

# dual-screen SDL fix
export SDL_VIDEO_FULLSCREEN_HEAD=0

# Hardware video acceleration in firefox
## disabled to see if it fixes overwriting wayland preferrence
#export MOZ_X11_EGL=1

# VR
#export __GL_SYNC_DISPLAY_DEVICE="DVI-I-3"

# Avoid gnome bug / remove accessibility bus failed logging
export NO_AT_BRIDGE=1
